body {
    font-family: "Raleway", sans-serif;
    color: #44545E;
}

.hidden {
    display: none !important;
}

#headerimage {
    background-image: url("../images/header_image.jpg");
<<<<<<< HEAD
<<<<<<< HEAD
=======
    /* height: 31.14em;*/
>>>>>>> parent of cf7329f... mobile responsive
=======
    /* height: 31.14em;*/
>>>>>>> parent of cf7329f... mobile responsive
    height: 30em;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0 0;
    background-attachment: fixed;
}

#title {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 91px;
    display: inline-block;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.56em;
}

.navone {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 56.25em;
    margin: 0 auto;
}

.navone a {
    color: black;
    text-decoration: none;
}

.navone ul {
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

<<<<<<< HEAD
<<<<<<< HEAD
.navone li {
    font-size: 1.25em;
}

=======
>>>>>>> parent of cf7329f... mobile responsive
=======
>>>>>>> parent of cf7329f... mobile responsive
.navtwo {
    font-family: 'Lato', sans-serif;
    text-align: center;
    max-width: 18.75em;
    margin: 0 auto;
}

.navtwo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.56em;
}

.navtwo li {
    font-size: 2em;
    font-weight: 400;
    list-style: none;
    padding: 0 20px;
}

.navtwo a {
    color: black;
}

.navthree {
    font-family: 'Lato', sans-serif;
    text-align: center;
    max-width: 18.75em;
    margin: 0 auto;
}

.navthree ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.56em;
}

.navthree li {
    font-size: 2.5em;
    font-weight: 400;
    list-style: none;
    padding: 0 20px;
}

.navthree a {
    color: gray;
    text-align: center;
}

h1 {
    color: black;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.63em
}

#headerimage h1 {
    margin: 10px;
}

#headerimage h2 {
    color: white;
}

h2 {
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: black;
}

h3 {
    color: black;
    font-size: .5em;
    text-align: center;
}

p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    text-align: center;
}

.footer p {
    color: gray;
    font-size: 1em;
    padding: 2.5em 0;
}

.footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background-color: white;
    min-height: 6.25em;
    padding-top: 1.25em;
}

.col-1-2 {
    width: 20%;
}

.main {
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.work h3 {
    color: white;
    font-size: 1em;
}

.main h2 {
    color: white;
    padding: 50px 0 0 0;
    font-weight: 700;
}

.work {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 50px 80px 50px;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 30em;
=======
    height: 23em;
>>>>>>> parent of cf7329f... mobile responsive
=======
    height: 23em;
>>>>>>> parent of cf7329f... mobile responsive
}

.experience {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 50px 80px 50px;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 32em;
}

.experience h3 {
    color: white;
    font-size: 1.5em;
    font-weight: 800;
}

.experience p {
    color: white;
    font-size: 1em;
    text-transform: none;
    text-align: center;
    padding: 40px 30px 20px 30px;
=======
=======
>>>>>>> parent of cf7329f... mobile responsive
    height: 29em;
}

.experience h3 {
    color: black;
    font-size: 1.5em;
}

.experience p {
    color: black;
    font-size: 1em;
    text-transform: none;
    text-align: center;
    padding: 0 30px 0 30px;
<<<<<<< HEAD
>>>>>>> parent of cf7329f... mobile responsive
=======
>>>>>>> parent of cf7329f... mobile responsive
}

.logo {
    text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 50px 0 50px 0;
=======
    padding: 50px 0 0 0;
>>>>>>> parent of cf7329f... mobile responsive
=======
    padding: 50px 0 0 0;
>>>>>>> parent of cf7329f... mobile responsive
    position: relative;
}

.text {
    position: absolute;
<<<<<<< HEAD
<<<<<<< HEAD
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
=======
    top: 50px;
    background-color: black;
>>>>>>> parent of cf7329f... mobile responsive
=======
    top: 50px;
    background-color: black;
>>>>>>> parent of cf7329f... mobile responsive
}

#hide {
    opacity: 0;
}

#hide:hover {
    opacity: 1;
<<<<<<< HEAD
<<<<<<< HEAD
    transition: opacity 3s;
    height: 100%;
=======
    transition: opacity 1s;
    /*height: 100%;*/
>>>>>>> parent of cf7329f... mobile responsive
=======
    transition: opacity 1s;
    /*height: 100%;*/
>>>>>>> parent of cf7329f... mobile responsive
}

.wrap h2 {
    text-align: center;
    padding: 20px 0 40px 0;
}

#comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin: 3.5em 4.5em 4.5em 0em;*/
    padding: 0 50px 0 50px;
<<<<<<< HEAD
<<<<<<< HEAD
    height: 28em;
=======
>>>>>>> parent of cf7329f... mobile responsive
=======
>>>>>>> parent of cf7329f... mobile responsive
}

#comment-form input {
    margin: 1.25em 0;
    border: #44545E .2em solid;
    text-transform: uppercase;
    padding: 1.25em 0.63em;
    box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 1em;
=======
>>>>>>> parent of cf7329f... mobile responsive
=======
>>>>>>> parent of cf7329f... mobile responsive
}

#comment-form textarea,
#comment-form button {
    margin: 0.63em;
    background-color: white;
    border: #44545E .2em solid;
    text-transform: uppercase;
    padding: 1.25em 0.63em;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 1em;
=======
>>>>>>> parent of cf7329f... mobile responsive
=======
>>>>>>> parent of cf7329f... mobile responsive
}

#comment-form button:hover {
    color: white;
    background-color: black;
    transition: width 2s;
}

.col-1-3 {
    width: 30%;
}

.col-3-3 {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.aside {
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 3em;
    height: 29em;
=======
    min-height: 6.25em;
    padding: 3em;
>>>>>>> parent of cf7329f... mobile responsive
=======
    min-height: 6.25em;
    padding: 3em;
>>>>>>> parent of cf7329f... mobile responsive
}

.aside h2 {
    font-size: 1.75em;
    color: white;
}

.hamburger {
    display: none;
}

a:hover {
    text-decoration: underline;
    -webkit-transition-duration: 0.4s;
    transition: width 2s;
}

.bq_quote {
    font-size: 1em;
    line-height: 1.45;
    margin: 0 auto;
    display: block;
    max-width: 12800px;
    padding: 30px 20px 10px 30px;
}

.bq_quote p {
    font-size: .70em;
    color: gray;
}


<<<<<<< HEAD
<<<<<<< HEAD
/*-------comment-form--------*/


/*use this class using jQuery if a field is left blank*/

.error {
    border: 2px solid #ED5254 !important;
}

span {
    color: #ED5254;
    opacity: 50%;
    display: none;
    font-size: 10px;
    text-align: left;
}


/*<!-- specificy a width: and height in my css .caro-box to make size of images consistent -->*/


}

/*-----------------------------------------*/

/*************@media query***********************/
@media (max-width: 600px) {
    html {
        font-size: .5em;
        background-color: rgba(133, 4, 64, 0);
    }
    
    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .navone {
        display: none;
    }
    
    .navone li {
        font-size: 2em;
    }
    
    .col-1-3 {
        width: 100%;
    }
    
    .work {
        flex-direction: column;
    }
    
    .work h3 {
        font-size: 1.5em;
    }
    
    .main h2 {
        font-size: 3.5em;
        padding: 30px 0 0 0;
    }
    
    .experience {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 50px 0px 50px;
        height: 100em;
    }
    
    .experience p {
        padding: 40px 30px 20px 30px;
    }
    
    .aside {
        font-size: 14px;
    }
    
    .bq_quote p {
        font-size: .75em;
    }
    
    h2 {
        font-size: 2em;
        font-weight: 600;
    }
    
    h1 {
        font-size: 2.25em;
        font-weight: 900;
    }
}
=======
/*************@media query***********************/


/* @media (max-width: 35em) {
        html {
            font-size: .5em;
            background-color: white;
        }
        .hamburger {
            display: block;
        }
        .navone ul {
            display: none;
        }
        .col-1-3 {
            width: 100%;
        }
    }
    
    #gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: 400px;
        width: 80%;
        margin: 20px 10px 0px 10px;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
=======
/*************@media query***********************/


/* @media (max-width: 35em) {
        html {
            font-size: .5em;
            background-color: white;
        }
        .hamburger {
            display: block;
        }
        .navone ul {
            display: none;
        }
        .col-1-3 {
            width: 100%;
        }
    }
    
    #gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: 400px;
        width: 80%;
        margin: 20px 10px 0px 10px;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
>>>>>>> parent of cf7329f... mobile responsive
    h3 {
        font-size: 1.5em;
    }*/


/*-------commet-form--------*/


/*use this class using jQuery if a field is left blank*/

.error {
    border: 2px solid #ED5254 !important;
}

span {
    color: #ED5254;
    opacity: 50%;
    display: none;
    font-size: 10px;
    text-align: left;
}


/*-----------------------------------------*/
<<<<<<< HEAD
>>>>>>> parent of cf7329f... mobile responsive
=======
>>>>>>> parent of cf7329f... mobile responsive
