body {
    font-family: /*"Lato",
*/
    sans-serif;
    background-color: #f0f3f5;
    /*background-color: #ccffb3;*/
}

header {
    width: 100%;
    margin: 0 auto;
}

.headerPic {
    background-image: url("images/checkRed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#headerNav {
    margin: 2em auto;
    list-style: none;
    justify-content: center;
}

.hamburger {
    font-size: 8em;
    position: relative;
    left: 200%;
    color: #fff;
}

ul {
    font-weight: 600;
    /*    text-transform: uppercase;
*/
    font-size: 0.8em;
    display: flex;
    margin-bottom: 2em;
}

li a {
    display: inline-block;
    color: #849fb0;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-decoration: none;
    margin: 0 2em;
}

li a:hover {
    /*display: inline-block;*/
    color: #B2252B;
    font-weight: 600;
    /*font-size: 1.2em;*/
    letter-spacing: 0em;
    text-decoration: none;
    margin: 0 2em;
    text-transform: uppercase;
}

.clearFix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/*===about===*/

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: 400;
}

header h1 {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.2em;
    padding: 0 0 4em 0;
}

.about,
.quotes,
.contact {
    text-align: left;
    margin: 5% auto;
    color: #3d4d58;
}

.about h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 1% 0;
    text-align: center;
}

.about p {
    width: 70%;
    line-height: 200%;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2%;
}


/*===hr===*/

hr {
    width: 60%;
    height: 3px;
    background-color: #1f282d;
    margin: 0 auto 5%;
    border-style: none;
}


/*===gallery===*/

#gallery {
    width: 70%;
    margin: 5% auto;
}

.gallery h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 5% auto;
    text-align: center;
    width: 100%;
    color: #3d4d58;
}

#imagebox img {
    display: block;
    margin: 3% auto;
}


/*===quotes===*/

.quotes {
    text-align: left;
    margin: 5% auto;
    color: #3d4d58;
}

.quotes h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 1% 0;
    text-align: center;
    color: #3d4d58;
}

.quotes p {
    width: 70%;
    line-height: 200%;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2%;
    color: #3d4d58;
}


/*===contact===*/

.contact {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em 0;
    text-align: center;
    color: #3d4d58;
}

#contactForm {
    width: 70%;
    margin: 0 auto 5%;
}

.contact h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 0 0 5% 0;
    padding: 0;
    text-align: center;
}

.threeBy1 {
    display: flex;
    justify-content: space-between;
}

.col-1-3 {
    width: 31%;
    margin-bottom: .6em;
}

.col-3-3 {
    width: 100%;
}

input {
    width: 100%;
    margin: 2% 0;
    border-style: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: auto;
    /*border was: #495d69;*/
}

textarea {
    width: 100%;
    border-style: none;
    border: 1px solid transparent;
    margin: 0;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
}

#submitButt:hover {
    background-color: #495d69;
    color: white;
    border-style: none;
    order: 1px solid #495d69;
}

.error {
    border: 2px solid #ed5254;
}

.errorMsg {
    color: red;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
}


/*===footer===*/

footer {
    background-color: #1f282d;
    color: #c3ced5;
    display: flex;
}

#icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 1em;
}

#icons a {
    color: #c3ced5;
    text-decoration: none;
}

#icons a:hover {
    color: #fff;
    text-decoration: none;
}

#copy {
    width: 50%;
    text-align: center;
    font-size: .7em;
    margin: auto;
}


/*MediaQuery===========*/

@media (max-width: 560px) {
    .hamburger {
        font-size: 3em;
        position: fixed;
        left: .5em;
        color: #495d69;
    }
    li a {
        display: block;
        color: #849fb0;
        font-weight: 400;
        font-size: 1.6em;
        letter-spacing: 0.2em;
        text-decoration: none;
        margin: 0 2em;
    }
    li a:hover {
        /*display: inline-block;*/
        color: #B2252B;
        font-weight: 600;
        /*font-size: 1.2em;*/
        letter-spacing: 0em;
        text-decoration: none;
        margin: 0 2em;
        text-transform: uppercase;
    }
    /*===End of MediaQuery===*/
}
