body {
    font-family: sans-serif;
    background-color: #f0f3f5;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.checkBar {
    background-image: url("images/checkRed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 110px;
}

.hamburger {
    font-size: 6em;
    display: none;
    color: #fff;
}

.navULMargin {
    width: 100%;
    height: 42px;
    background-color: #f0f3f5;
}

#navUL {
    list-style: none;
    justify-content: center;
    padding-top: 1.5em;
    background-color: #f0f3f5;
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

ul {
    font-weight: 600;
    font-size: 0.8em;
    display: flex;
}

li a {
    display: inline-block;
    color: #849fb0;
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-decoration: none;
}

li a:hover {
    display: inline-block;
    color: #B2252B;
    font-weight: 800;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    text-decoration: none;
}

li a.active {
    color: #B2252B;
}

.clearFix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/*===about===*/

#main {
    margin-top: 150px;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.about,
.gallery,
.quotes,
.contact {
    text-align: left;
    margin: 0 auto;
    color: #3d4d58;
}

#aboutSection {
    width: 100%;
}

.about {
    width: 70%;
}

.about h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0 auto 5%;
    padding-top: 250px;
    margin-top: -220px;
}

.about p {
    line-height: 200%;
    font-family: sans-serif;
    margin-bottom: 2%;
}


/*===gallery===*/

#gallerySection {
    margin: 5em auto;
}

#gallerySection h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-align: center;
    width: 100%;
    color: #3d4d58;
    margin: 0 auto 5%;
    padding-top: 190px;
    margin-top: -170px;
}

.container {
    margin: 0 auto;
    width: 100%;
    color: #333;
    background: #1f282d;
}

.single-item {
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    padding: 5% 0;
}


/*===quotes===*/

#quotesSection {
    width: 100%;
}

.superQuotes {
    width: 40%;
    margin: 5% auto;
    color: #3d4d58;
}

#quotesSection h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-align: center;
    color: #3d4d58;
    margin: 0 auto 5%;
    padding-top: 190px;
    margin-top: -170px;
}

#quotesSection p {
    line-height: 200%;
    font-family: sans-serif;
    margin-bottom: 2%;
    color: #3d4d58;
    text-align: left;
}


/*===contact===*/

#contactForm {
    width: 50%;
    margin: 0 auto 5%;
}

.contact div {
    text-align: center;
    color: #3d4d58;
}

.contact h1 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin: 0 0 5% 0;
    padding: 0;
    text-align: center;
}

.threeBy1 {
    display: flex;
    justify-content: space-between;
}

.col-1-3 {
    width: 31%;
    margin-bottom: .6em;
}

.col-3-3 {
    width: 100%;
}

input {
    width: 100%;
    margin: 2% 0;
    border-style: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: auto;
    padding: 0 0 0 1em;
}

textarea {
    width: 100%;
    border-style: none;
    border: 1px solid transparent;
    margin: 0;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    padding: 1em 0 0 1em;
}

#submitButt {
    background-color: #849fb0;
    color: white;
    border-style: none;
    border: 1px solid transparent;
    padding: 1em 0;
}

#submitButt:hover {
    background-color: #495d69;
    color: white;
    border-style: none;
    border: 1px solid #495d69;
    padding: 1em 0;
}

.error {
    border: 2px solid #green;
}

.errorMsg {
    color: green;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    width: 100%;
}


/*===footer===*/

footer {
    background-color: #1f282d;
    color: #495d69;
    display: flex;
}

#icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 1em;
}

#icons a {
    color: #849fb0;
    text-decoration: none;
}

#icons a:hover {
    color: #fff;
    text-decoration: none;
}

#copy {
    width: 50%;
    text-align: center;
    font-size: .7em;
    margin: auto;
}


/*MediaQuery===========*/

@media (max-width: 560px) {
    .hamburger {
        font-size: 4em;
        position: fixed;
        display: block;
        left: .3em;
        top: 0.4em;
        color: #fff;
    }
    #navUL {
        margin: 0 0 0 0;
        padding: 0 0 0 20px;
        display: flex;
        flex-wrap: wrap;
        width: 22%;
        background-color: white;
        display: none;
    }
    .navULMargin {
        background-color: transparent;
    }
    li {
        margin: .5em 0;
        padding: .4em 0;
        width: 100%;
        background-color: transparent;
    }
    li a {
        color: #1f282d;
    }
    li a:hover {
        display: inline-block;
        color: #B2252B;
        font-weight: 600;
        letter-spacing: 0em;
        text-decoration: none;
        text-transform: uppercase;
    }
    .threeBy1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-1-3 {
        width: 100%;
        margin-bottom: .6em;
    }
    input {
        width: 100%;
        margin: 2% 0;
        padding-left: 1em;
        border-style: none;
        border: 1px solid transparent;
        box-sizing: border-box;
        overflow: auto;
        /*border was: #495d69;*/
    }
    textarea {
        width: 100%;
        border-style: none;
        border: 1px solid transparent;
        margin: .3em 0;
        box-sizing: border-box;
        resize: none;
        overflow: auto;
        padding: 1em 0 0 1em;
    }
    #contactForm {
        width: 80%;
    }
    #submitButt {
        /*background-color: #495d69;
    color: white;
    border-style: none;
    order: 1px solid #495d69;*/
        padding: .6em 0;
    }
    #submitButt:hover {
        /*background-color: #495d69;
    color: white;
    border-style: none;
    order: 1px solid #495d69;*/
        padding: .6em 0;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    #icons {
        width: 51%;
        margin: 0 auto;
        /*    display: flex;*/
        justify-content: space-around;
        font-size: 3em;
        padding: 5% 0;
    }
    #copy {
        width: 50%;
        margin: 0 auto 4%;
    }
    /*===End of MediaQuery===*/
    /*===Do not Erase curly brace below===*/
}
