/*temporary styling - remove later*/

section {
    min-height: 33em;
}


/*end of temporary styling here*/

body {
    /*remove the default margins from the page*/
    /*to remove the white edges from the page*/
    margin: 0;
    /*calculate the box sizing including the box*/
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: blue;
}

.navbar {
    overflow: hidden;
    background-color: blue;
    /* Set the navbar to fixed position */
    position: fixed;
    /* Position the navbar at the top of the page */
    top: 0;
    /* Full width */
    width: 100%;
}

img {
    width: 25%;
}

#about,
#projects,
#testamonials,
#contactForm {
    /* Add top padding to avoid content overlay */
    padding-top: 6em;
}

#about {
    background-color: skyblue;
}

#projects {
    background-color: white;
}

#testamonials {
    background-color: teal;
}

#contactForm {
    background-color: white;
}

footer {
    background-color: blue;
    height: 4em;
}

.center {
    text-align: center;
}

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerBlock {
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    padding: .3em;
    margin: .7em;
    display: inline-block;
}

.active {
    color: yellow;
    border-bottom: 1px solid yellow;
}

h1 {
    display: inline-block;
    color: white;
    font-size: 2.7em;
    padding: .2em;
    margin: .3em;
    border-bottom: 3px solid white;
}

h3 {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    padding: .2em;
    border-bottom: 3px solid white;
}

#projects h3,
#contactForm h3 {
    color: black;
    border-bottom: 3px solid black;
}

h5 {
    color: white;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col-1-2 {
    width: 40%;
}

.col-1-1 {
    width: 100%;
    box-sizing: border-box;
}

#about p {
    color: white;
}

#testamonials p {
    color: white;
    width: 70%;
}

form p {
    display: none;
    margin-top: .1em;
}

form {
    width: 80%
}

.email,
.full-name,
.subject {
    color: #777;
    padding: .4em 1em;
    margin: 0 0 .7em;
    height: 2.5em;
    border: 1px solid #777;
}

.message {
    color: #777;
    padding: 1em;
    height: 8em;
    border: 1px solid #777;
}

.submit {
    color: #777;
    background-color: transparent;
    padding: .3em;
    margin: .5em 0 5em 0;
    height: 2.5em;
    border: 1px solid #777;
}

.error {
    border: 2px solid #ED5254;
}

footer p {
    color: white;
    padding: 1.4em;
}

.quotes {
    display: none;
}
